<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ipsa praesentium, incidunt molestiae neque doloremque, ab illum fuga dolores dignissimos tempora sed non iusto, deleniti placeat laudantium temporibus cupiditate a velit explicabo vitae et cum animi aliquam. Culpa, omnis a!</p>
    </div>
</div>